body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

header a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.product {
    background: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
}

button {
    background: green;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}

table {
    width: 80%;
    margin: 20px auto;
    background: white;
}

th, td {
    padding: 10px;
    text-align: center;
}

.login-box {
    background: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

.login-box input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
}
